.interactive-box {
    display: flex;
    flex-direction: row;
}

.listbox {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 10px;
}

.listbox-title {
    margin-left: auto;
    margin-right: auto;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.vertical {
    display: flex;
    flex-direction: column;
}

input.capacity {
    width: 3em;
}

div.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.header > h1 {
    padding-right: 10px;
}
